

*{
    margin: 0;
    padding: 0;
}

/*----------------      common styles
------------------ */


/*----------------      navbar styles
------------------ */

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 15px;
}

.navber-logo{
    font-size: 35px;
    font-weight: 700;
    cursor: pointer;
}
.navber-logo>span{
    color:rgb(64, 120, 241) ;
}
.navbar>ul>li{
    list-style: none;
}
.navbar>ul>li>a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: 700;
    padding: 10px 30px;
    text-transform: capitalize;
}
.navbar>ul>li>a:hover{
    color: rgb(64, 120, 241);
}
.navbar>ul{
    display: flex;
}
.navbar>ul :hover{
    color: rgb(64, 120, 241);
}
/*--------------- icon design-------------- */

.icon{
    display: flex;
    cursor: pointer;
}
.top-icon{
    padding: 10px 30px;
    font-size:20px;
}

/*----------------      
    bannar styles
------------------ */
.bannar{
    display: flex;
    flex-wrap: nowrap;
    padding: 50px 20px;
    background-color:aquamarine;
}

.bannar-image{
    width: 100%;
    text-align: center;
    padding: 50px;
}
.bannar-text{
    margin-top: 60px;
}

.bannar-text h1{
    font-size: 50px;
    font-weight: 900;
    margin: 15px 0px;
}
.bannar-text p{
    font-size: 25px;
    font-weight: 400;
    margin: 35px 0px;
}
.bannar-button{
    outline: 0;
    font-size: 30px;
    font-weight: 700;
    padding: 15px 30px;
    border: 4px solid white;
    background-color: white;
    border-radius: 35px;
}
.bannar-button:hover{
    border: 4px solid black;
    background-color:rgb(37, 223, 161);
    transition: .5s;
    
}
.bannar-button a{
    text-decoration: none;
    text-transform:capitalize;
    color: black;
}


/*------------------            
    topics coverd
-------------------- */
.topics-covered{
    margin: 0px auto;
    background-color: #f8faf9;
    border:1px solid #f8faf9;
    
}
.topic-text{
    width: 60%;
    margin: 40px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.line{
    width: 300px;
    height: 3px;
    background-color: rgb(51, 241, 108);
    margin: 0px 10px;
}
.topic-text{
    font-size: 25px;
    text-transform: capitalize;
}
.topics{
    width: 70%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    justify-content: center;
}
.topic{
    background-color: aquamarine;
    width: 200px;
    height: 250px;
    padding: 15px;
    margin: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}
.topic-img img{
    width: 300px;
    height: 350px;
}

.topics-icon{
    font-size: 100px;
    display: block;
}

/*----------------
     free previews
------------------ */

.free-perview{
    margin: 50px 0px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 15px;
    padding: 20px 30px;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.free-pervies-text h1{
    font-size: 45px;
    font-weight: 700;
}
.free-pervies-text p{
    font-size: 20px;
    font-weight: 600;
    padding: 10px 0px;
    margin:20px 0px;
}
.check-mark>div{
    margin: 0px 0px;
    padding: 5px 0px;
}

.inline-icon{
    display: inline;
    color: rgb(66, 250, 189);
    margin-right: 5px;
}
.check-mark p{
    display: inline;
    font-weight: 400;
    font-size: 18opx;
}
.free-button a{
    text-decoration: none;
}

.free-button{
    margin: 30px 0px;
    outline: 0;
    font-size: 30px;
    font-weight: 700;
    padding: 10px 30px;
    border: 4px solid rgb(41, 250, 180);
    background-color: rgb(41, 250, 180);
    border-radius: 35px;
    color: white;
}
.free-button:hover{
    border: 4px solid rgb(41, 250, 180);
    background-color:white;
    transition: .5s;
    color: rgb(41, 250, 180);
}

/*-----------------------
    scroll-section
------------------------- */
.scroll-section{
    position: relative;
}

/* bg attactment fixed use kora hoyche arki */
/* size is very improtant */
.scroll-section{
    width: 100%;
    height: 900px;
    background-image: url('../image/bgc.jpg');
    background-repeat: no-repeat;
    background-size: 100% 900px;
    /* size ta same deoya best*/
    background-attachment: fixed;
}

.scroll-div{
    width: 70%;
    height: 900px;
    background-color: rgba(245, 245, 220, 0);
    position: relative;
    border: 2px solid rgba(0, 0, 0, 0);
    margin: 0px auto;
}
.author-img{
    position:absolute;
    top: 20px;
    left:150px
}
.author-img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid aquamarine;
}
.author-text{
    width: 604px;
    margin: 90px auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 8px;
}

.author-text img{
    width: 304px;
    height: 427px;
    margin: 0px auto;
}

.author-details{
    width: 604px;
    height: 300px;
}

.author-details h1{
    font-size: 40px;
    font-weight: 600;
    margin: 20px 0px;
}
.author-details p{
    font-size: 18px;
    line-height: 1.2;
}
.author-details h2{
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0px;
    color: rgb(6, 165, 112);
}


/*---------------
    reader words
----------------- */
.readers{
    margin: 0 auto;
    width: 1200px;
    /* change korte hobe */
    height: 300px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:10px;
}
.reader{
    width: 550px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reader img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 1px 1px 10px green;
}

.reader-word{
    width: 400px;
    height: 100px;
    display: flex;
    flex-direction: column;
    padding: 50px;
    
    box-shadow: 1px 5px 20px black;
    margin-left: -25px;
    border-radius: 8px;
}
.reader-word h1{
    font-size: 25px;
    color: rgb(6, 165, 112);
    margin-top: 20px;
}



/* --------------------
        footer
----------------------- */


.footer-section{
    width: 95%px;
    margin: 0px auto;
    margin-top: 100px;
    text-align: center;
    background-color: rgba(20, 189, 132, 0.712);
    color: white;
    padding: 100px 100px;
    
}
footer h1{

    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    text-transform: capitalize;
    line-height: 36px;
   
}
footer p{
    font-size: 16px;
}

.social-media{
    margin:10px 0px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.social-media img{
    width: 32px;
    height: 32px;
    padding: 5px 10px;
}